<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Sharing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="jumbotron text-center">
        <h1>Welcome to Recipe Sharing Platform</h1>
        <p>Share your favorite recipes with the community!</p>
    </div>
</body>
</html>
