<div class="col-md-2 mt-5 vh-100">
    <nav class="nav flex-column ms-2">
        <a class="nav-link text-dark mb-4 fw-bold" href="/">Home</a>
        <a class="nav-link text-dark mb-4 fw-bold" href="/add">Add Blogs</a>
    </nav>
</div>