<nav class="navbar navbar-expand-lg" style="height: 10vh;">
    <a class="navbar-brand mt-3 ms-3" href="#">
       <img src="https://logodix.com/logo/34884.jpg" alt="" width="200px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="text-dark fw-bold ms-4 py-2 text-decoration-none btn-outline-blue rounded-pill px-3"
                    aria-current="page" href="/signup">Sign-Up</a>
            </li>
            <li class="nav-item">
                <a class="text-dark fw-bold ms-4 me-3 py-2 text-decoration-none btn-outline-blue rounded-pill px-3"
                    href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
</nav>