<div class="col-md-2 bg-black mt-5 vh-100">
    <nav class="nav flex-column ms-2">
        <a class="nav-link text-light mb-4 fw-bold" href="/">Home</a>
        <a class="nav-link text-light mb-4 fw-bold" href="/add">Add Movie</a>
        <a class="nav-link text-light mb-4 fw-bold" href="#">Web Series</a>
        <a class="nav-link text-light mb-4 fw-bold" href="#">Movies</a>
        <a class="nav-link text-light mb-4 fw-bold" href="#">Cartoon</a>
    </nav>
</div>